# torch>=1.3
# torch-geometric
jax[cuda11_local]==0.4.12 --find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
chex
jaxtyping
optax
# dm-haiku
equinox
distrax
numpy
scipy
lie_learn
joblib
pymanopt
# autograd
# py3nj
